# Eclipse #
.settings/*
.classpath
.project
bin/*

# Gradle #
.gradle/*
build/*

# Tomcat #
tomcat/*
!tomcat/bin
!tomcat/conf
!tomcat/lib
!tomcat/webapps/host-manager
!tomcat/webapps/manager
!tomcat/webapps/ROOT
!tomcat/LICENSE
!tomcat/NOTICE
!tomcat/RELEASE-NOTES

