# Eclipse #
.settings/*
.classpath
.project
bin/*

# Gradle #
.gradle/*
build/*

# Tomcat #
tomcat/*
!tomcat/bin
!tomcat/conf
!tomcat/lib
!tomcat/webapps
tomcat/webapps/brighton-beach
tomcat/webapps/brighton-beach.war
!tomcat/LICENSE
!tomcat/NOTICE
!tomcat/RELEASE-NOTES
!tomcat/.gitattributes

# Environment #
src/main/resources/env-datasource.properties

/build
/bin
