# Eclipse
.classpath
.project
.metadata
.settings/

# Intellij
.idea/
out/
*.iml
*.iws

# Tomcat #
tomcat/*
!tomcat/bin
!tomcat/conf
!tomcat/lib
!tomcat/webapps
tomcat/webapps/brighton-beach
tomcat/webapps/brighton-beach.war
!tomcat/LICENSE
!tomcat/NOTICE
!tomcat/RELEASE-NOTES
!tomcat/.gitattributes
# Mac
.DS_Store

# Maven
log/
target/

#Gradle
gradle/
.gradle/
gradlew
gradlew.bat

# Java
*.class
*.jar
*.war
*.ear

# Python
*.py[cod]
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST