<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <security:http auto-config="true" use-expressions="true">
    
        <security:form-login 
            login-page="/spring/login" 
            login-processing-url="/spring/loginProcess" 
            default-target-url="/spring/cards" 
            authentication-failure-url="/spring/login?login_error=1" />
        
        <security:logout logout-url="/spring/logout" logout-success-url="/spring/loggedout" delete-cookies="JSESSIONID"/>
        
        <security:access-denied-handler error-page="/spring/accessDenied"/>
        
        <security:remember-me />
    
    </security:http>
    
    <security:global-method-security secured-annotations="enabled" />
    
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="securityService" />
    </security:authentication-manager>
    
    <security:jdbc-user-service
        id="securityService"
        data-source-ref="dataSource"
        users-by-username-query="select username, password, true from user where username = ?"
        authorities-by-username-query="select username, role from user where username = ?" />
    
</beans>
