/* font size */

.ui-widget {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
	font-size: 1.1em; 
}

.ui-widget .ui-widget { 
	font-size: 1em; 
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
	font-size: 1em; 
}

.ui-widget {
	font-size: 12px !important;
}

/* custom UI styles */

.ui-datatable-scrollable .ui-datatable-scrollable-header {
    background: none;
}

.ui-datatable-even {
    background: rgb(220,220,220)!important;
    color: royalblue;
}

.ui-datatable-even a {
    color: blue;
}

.ui-datatable-odd {
    background: rgb(200,200,200)!important;
    color: royalblue;
}

.ui-datatable-odd a {
    color: blue;
}

html, body {
    height: 98%;
}

/* custom classes */

.bb-title-menu {
   border: none;
}

.bb-action-panel {
   margin-bottom: 1em;
}

.bb-breadcrumb-panel {
   margin-bottom: 1em;
}

.bb-top-aligment {
    vertical-align: top;
}

.bb-noborder tr, .bb-noborder td {
    border: none;
}

